{% extends 'base.html' %}
{% load static %}
{% block css %}
<link href="{% static '/css/form-validation.css' %}" rel="stylesheet">
{% endblock %}
{% block js %}
<script src="{% static '/js/form-validation.js' %}" crossorigin="anonymous"></script>
<script>
    $("form").submit(function(event){
        console.log($(this).serializeArray());
        event.preventDefault();
        $.ajax({
            url: "/api/business/company/",
            type: 'POST',
            data: $(this).serialize(),
            dataType: 'JSON',
            beforeSend: function () {
                $('#respuesta').html('<i class="fas fa-spinner fa-spin"></i> Validando y guardando...');
            },
            success: function (data) {
                $('#respuesta').removeClass("text-warning");
                $('#respuesta').addClass("text-success");
                console.log(data);
                $('#respuesta').html('Razón Social guardada correctamente.');
                $('#company_list').append(
                    '<li class="list-group-item d-flex justify-content-between lh-sm"><div><h6 class="my-0">'+ $("#business_name").val()+' <span class="text-muted">(RUT: '+ $("#business_rut").val()+')</span></h6><small class="text-muted"></small></div><span class="text-muted"><a href="#"><i class="fas fa-edit" aria-hidden="true"></i></a></span></li>');
                $('#company_len').html(parseInt($('#company_len').html()) + 1);
                
                $("#razon_social").trigger("reset");
                $("#business_rut").val(" ");
                }, // success function
            error: function (event){
                $('#respuesta').html('Compruebe los campos requeridos.');
                $('#respuesta').addClass("text-warning");
                $('#respuesta').removeClass("text-success");
            }
        }); // ajax
    });

</script>
{% endblock %}
{% block content %}
<main>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-razon-social-tab" data-bs-toggle="tab" data-bs-target="#nav-razon-social" type="button" role="tab" aria-controls="nav-razon-social" aria-selected="true">Razón Social</button>
      <button class="nav-link" id="nav-centro-costos-tab" data-bs-toggle="tab" data-bs-target="#nav-centro-costos" type="button" role="tab" aria-controls="nav-centro-costos" aria-selected="false">Centro de Costos</button>
      <button class="nav-link" id="nav-sindicatos-tab" data-bs-toggle="tab" data-bs-target="#nav-sindicatos" type="button" role="tab" aria-controls="nav-sindicatos" aria-selected="false">Sindicatos</button>
      <button class="nav-link" id="nav-cuentas-contables-tab" data-bs-toggle="tab" data-bs-target="#nav-cuentas-contables" type="button" role="tab" aria-controls="nav-cuentas-contables" aria-selected="false">Cuentas Contables</button>
      <button class="nav-link" id="nav-sucursal-tab" data-bs-toggle="tab" data-bs-target="#nav-sucursal" type="button" role="tab" aria-controls="nav-sucursal" aria-selected="false">Sucursal</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-razon-social" role="tabpanel" aria-labelledby="nav-razon-social-tab">
        <div class="row g-12">
            <div class="py-2 text-center">
                <p class="lead text-muted"></p>
            </div>
            <div class="col-md-12 col-lg-12">
              <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Ingresadas</span>
                <span id="company_len" class="badge bg-primary rounded-pill">{{ context.company|length }}</span>
              </h4>
              <ul id="company_list" class="list-group mb-3">
                {% for company in context.company %}
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <h6 class="my-0">{{ company.business_name }} <span class="text-muted">(RUT: {{ company.business_rut }})</span></h6>
                      <small class="text-muted">{{ company.type.name }}</small>
                    </div>
                    <span class="text-muted"><a href="#"><i class="fas fa-edit"></i></a></span>
                  </li>
                {% endfor %}
              </ul>
            </div>
        
            <div class="py-5 text-center">
                <h2>Ingrese su Razón Social</h2>
                <p class="lead text-muted">Puede registrar más de una si es necesario.</p>
                <hr class="my-4">
            </div>
      
        
            <div class="col-md-12 col-lg-12">
              <h4 class="mb-3">Datos de su Razón Social <p class="lead text-muted"><small><u>Puede guardar sin tener todos los datos ingresados y continuar más tarde.</u></small></p></h4>
              
              <form class="needs-validation" novalidate id="razon_social">
                <div class="row g-3">
                  <div class="col-sm-6">
                    <label for="business_rut" class="form-label">RUT</label>
                    <input type="text" class="form-control" name="business_rut" id="business_rut" placeholder="" value="" required>
                    <div class="invalid-feedback">
                      Validar RUT es requerido.
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="type" class="form-label">Tipo empresa</label>
                    <select class="form-select" name="type" id="type">
                      <option value=""> seleccionar...</option>
                      {% for type in context.type %}
                      <option value="{{ type.id }}">{{ type.name }}</option>
                      {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="business_name" class="form-label">Razón Social</label>
                    <input type="text" class="form-control" name="business_name" id="business_name" placeholder="" value="">
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="business_giro" class="form-label">Giro 
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    <input type="text" class="form-control" name="business_giro" id="business_giro" placeholder="" value="">
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="business_direction" class="form-label">Dirección 
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    <input type="text" class="form-control" name="business_direction" id="business_direction" placeholder="" value="">
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="business_phone" class="form-label">Teléfono</label>
                    <input type="text" class="form-control" name="business_phone" id="business_phone" placeholder="" value="">
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="representative_name" class="form-label">Nombre representante legal</label>
                    <input type="text" class="form-control" name="representative_name" id="representative_name" placeholder="" value="">
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="representative_rut" class="form-label">RUT representante legal</label>
                    <input type="text" class="form-control" name="representative_rut" id="representative_rut" placeholder="" value="">
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="representative_email" class="form-label">Correo electrónico representante legal 
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    <input type="text" class="form-control" name="representative_email" id="representative_email" placeholder="" value="">
                    <div class="invalid-feedback">
                    </div>
                  </div>
                </div>

                <div class="row g-3">
                <hr class="my-4">
                <h4 class="mb-3">Otros datos relevantes <p class="lead text-muted"><small><u>Puede guardar sin tener todos los datos ingresados y continuar más tarde.</u></small></p></h4>
                  <div class="col-md-6">
                    <label for="comuna" class="form-label">Comuna 
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    <select class="form-select" name="comuna" id="comuna">
                      <option value=""> seleccionar...</option>
                      {% for comuna in context.comuna %}
                      <option value="{{ comuna.id }}">{{ comuna.name }}</option>
                      {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="compensation_box" class="form-label">Caja de Compensación 
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    <select class="form-select" name="compensation_box" id="compensation_box">
                      <option value=""> seleccionar...</option>
                      {% for box in context.compensation_box %}
                      <option value="{{ box.id }}">{{ box.name }}</option>
                      {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="mutual" class="form-label">Mutual 
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    <select class="form-select" name="mutual" id="mutual">
                      <option value=""> seleccionar...</option>
                      {% for mutual in context.mutual %}
                      <option value="{{ mutual.id }}">{{ mutual.name }}</option>
                      {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="mutual_amount" class="form-label">Monto cotización mutual
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    <input type="text" class="form-control" name="mutual_amount" id="mutual_amount" placeholder="" value="">
                    <div class="invalid-feedback">
                    </div>
                  </div>
                </div>

                

                <div class="row g-3">
                    <hr class="my-4">
                <h4 class="mb-3">Facturación <p class="lead text-muted"><small>Puede guardar sin tener todos los datos ingresados y continuar más tarde.</small></p></h4>
                  <div class="col-md-6">
                    <label for="checking_bank" class="form-label">Banco pago nómina 
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    <select class="form-select" name="checking_bank" id="checking_bank">
                      <option value=""> seleccionar...</option>
                      {% for bank in context.bank %}
                      <option value="{{ bank.id }}">{{ bank.name }}</option>
                      {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="checking_account" class="form-label">Cuenta corriente pago nómina
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    <input type="text" class="form-control" name="checking_account" id="checking_account" placeholder="" value="">
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="billing_rut" class="form-label">RUT para facturación 
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    <input type="text" class="form-control" name="billing_rut" id="billing_rut" placeholder="" value="">
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-md-6 my-3">
                    <label for="gratification" class="form-label">Forma de pago de gratificación
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    {% for gratification in context.gratification %}
                    <div class="form-check">
                        <input name="gratification" value="{{ gratification.id }}" id="gratification_{{ gratification.id }}" name="gratification" type="radio" class="form-check-input">
                        <label class="form-check-label" for="gratification_{{ gratification.id }}">{{ gratification.name }}</label>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-md-6">
                    <label for="payment_mobilization" class="form-label">Forma de pago de movilización y colación 
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    <select class="form-select" name="payment_mobilization" id="payment_mobilization">
                      <option value=""> seleccionar...</option>
                      {% for payment_mobilization in context.payment_mobilization %}
                      <option value="{{ payment_mobilization.id }}">{{ payment_mobilization.name }}</option>
                      {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                    </div>
                  </div>
      
                <hr class="my-4">
                <div id="respuesta" class="text-success">
                </div>
                <button class="w-100 btn btn-primary btn-lg" type="submit">Validar y guardar</button>

                <hr class="my-4">
              </form>
            </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-centro-costos" role="tabpanel" aria-labelledby="nav-centro-costos-tab">...</div>
    <div class="tab-pane fade" id="nav-sindicatos" role="tabpanel" aria-labelledby="nav-sindicatos-tab">...</div>
    <div class="tab-pane fade" id="nav-cuentas-contables" role="tabpanel" aria-labelledby="nav-cuentas-contables-tab">...</div>
    <div class="tab-pane fade" id="nav-sucursal" role="tabpanel" aria-labelledby="nav-sucursal-tab">...</div>
  </div>
</main>
{% endblock %}