{% extends 'base.html' %}
{% load static %}
{% block css %}
<link href="{% static '/css/form-validation.css' %}" rel="stylesheet">
{% endblock %}
{% block js %}
<script src="{% static '/js/form-validation.js' %}" crossorigin="anonymous"></script>
<script>
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    var validation = false;
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
            $('.respuesta').addClass("text-warning");
            $('.respuesta').html('Compruebe los campos requeridos.');
            validation = false;
          } else {
            validation = true;
            event.preventDefault();
            form.classList.add('was-validated')
            
          }
        }, false)
      });
    
    validate_parent("#show_parent_cc", ".parent_cc");
    $('input[type=checkbox]').on('change', function() {
        validate_parent("#show_parent_cc", ".parent_cc");
    });
    function validate_parent(checked, input){
        if ($(checked).is(":checked")){
            $(input).show("slow");
        } else {
            $(input).hide("faster");
            $("#parent").val("0");
        }
    }
      
    guardar();

    function guardar(){
        $("form").submit(function(event){
            console.log($(this).serialize());
            if(validation){
                $.ajax({
                    url: $(this).data("url"),
                    type: 'POST',
                    data: $(this).serialize(),
                    dataType: 'JSON',
                    beforeSend: function () {
                        $('.respuesta').html('<i class="fas fa-spinner fa-spin"></i> Validando y guardando...');
                    },
                    success: function (data) {
                        $('.respuesta').removeClass("text-warning");
                        $('.respuesta').addClass("text-success");
                        console.log(data);
                        $('.respuesta').html('<i class="fas fa-check-square"></i> '+ data.message ? data.message : "Creado correctamente.");
                        $('#company_list').append(
                            '<li class="list-group-item d-flex justify-content-between lh-sm"><div><h6 class="my-0">'+ $("#business_name").val()+' <span class="text-muted">(RUT: '+ $("#business_rut").val()+')</span></h6><small class="text-muted"></small></div><span class="text-muted"><a href="#"><i class="fas fa-edit" aria-hidden="true"></i></a></span></li>');
                        $('#company_len').html(parseInt($('#company_len').html()) + 1);
                        
                        $("#razon_social").trigger("reset");
                        }, // success function
                    error: function (event){
                        console.log(event);
                        $('.respuesta').html('Ocurrio un problema al intentar guardar. ');
                        if(event.responseJSON){
                            $('.respuesta').append(event.responseText);
                        }
                        $('.respuesta').addClass("text-warning");
                        $('.respuesta').removeClass("text-success");
                    }
                }); // ajax
            }
        });
    };
    

</script>
{% endblock %}
{% block content %}
<main>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-razon-social-tab" data-bs-toggle="tab" data-bs-target="#nav-razon-social" type="button" role="tab" aria-controls="nav-razon-social" aria-selected="true">Razón Social</button>
      <button class="nav-link" id="nav-centro-costos-tab" data-bs-toggle="tab" data-bs-target="#nav-centro-costos" type="button" role="tab" aria-controls="nav-centro-costos" aria-selected="false">Centro de Costos</button>
      <button class="nav-link" id="nav-sindicatos-tab" data-bs-toggle="tab" data-bs-target="#nav-sindicatos" type="button" role="tab" aria-controls="nav-sindicatos" aria-selected="false">Sindicatos</button>
      <button class="nav-link" id="nav-cuentas-contables-tab" data-bs-toggle="tab" data-bs-target="#nav-cuentas-contables" type="button" role="tab" aria-controls="nav-cuentas-contables" aria-selected="false">Cuentas Contables</button>
      <button class="nav-link" id="nav-sucursal-tab" data-bs-toggle="tab" data-bs-target="#nav-sucursal" type="button" role="tab" aria-controls="nav-sucursal" aria-selected="false">Sucursal</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-razon-social" role="tabpanel" aria-labelledby="nav-razon-social-tab">
        <div class="row g-12">
            <div class="py-2 text-center">
                <p class="lead text-muted"></p>
            </div>
            <div class="col-md-12 col-lg-12">
              <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Ingresadas</span>
                <span id="company_len" class="badge bg-primary rounded-pill">{{ context.company|length }}</span>
              </h4>
              <ul id="company_list" class="list-group mb-3">
                {% for company in context.company %}
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <h6 class="my-0">{{ company.business_name }} <span class="text-muted">(RUT: {{ company.business_rut }})</span></h6>
                      <small class="text-muted">{{ company.type.name }}</small>
                    </div>
                    <span class="text-muted"><a href="#"><i class="fas fa-edit"></i></a></span>
                  </li>
                {% endfor %}
              </ul>
            </div>
        
            <div class="py-5 text-center">
                <h2>Ingrese su Razón Social</h2>
                <p class="lead text-muted">Puede registrar más de una si es necesario</p>
                <hr class="my-4">
            </div>
      
        
            <div class="col-md-12 col-lg-12">
              <h4 class="mb-3">Datos de su Razón Social <p class="lead text-muted"><small><u>Puede guardar sin tener todos los datos ingresados y continuar más tarde</u></small></p></h4>
              
              <form class="needs-validation" novalidate id="razon_social" data-url="/api/business/company/">
                <div class="row g-3">
                  <div class="col-sm-6">
                    <label for="business_rut" class="form-label">RUT</label>
                    <input type="text" class="form-control" name="business_rut" id="business_rut" placeholder="" value="" required>
                    <div class="invalid-feedback">
                      Validar RUT es requerido.
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="type" class="form-label">Tipo empresa</label>
                    <select class="form-select" name="type" id="type" required>
                      <option value=""> seleccionar...</option>
                      {% for type in context.type %}
                      <option value="{{ type.id }}">{{ type.name }}</option>
                      {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="business_name" class="form-label">Razón Social</label>
                    <input type="text" class="form-control" name="business_name" id="business_name" placeholder="" value="" required>
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="business_giro" class="form-label">Giro 
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    <input type="text" class="form-control" name="business_giro" id="business_giro" placeholder="" value="">
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="business_direction" class="form-label">Dirección 
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    <input type="text" class="form-control" name="business_direction" id="business_direction" placeholder="" value="">
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="business_phone" class="form-label">Teléfono</label>
                    <input type="text" class="form-control" name="business_phone" id="business_phone" placeholder="" value="">
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="representative_name" class="form-label">Nombre representante legal</label>
                    <input type="text" class="form-control" name="representative_name" id="representative_name" placeholder="" value="">
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="representative_rut" class="form-label">RUT representante legal</label>
                    <input type="text" class="form-control" name="representative_rut" id="representative_rut" placeholder="" value="">
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="representative_email" class="form-label">Correo electrónico representante legal 
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    <input type="text" class="form-control" name="representative_email" id="representative_email" placeholder="" value="">
                    <div class="invalid-feedback">
                    </div>
                  </div>
                </div>

                <div class="row g-3">
                <hr class="my-4">
                <h4 class="mb-3">Otros datos relevantes <p class="lead text-muted"><small><u>Puede guardar sin tener todos los datos ingresados y continuar más tarde</u></small></p></h4>
                  <div class="col-md-6">
                    <label for="comuna" class="form-label">Comuna 
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    <select class="form-select" name="comuna" id="comuna">
                      <option value=""> seleccionar...</option>
                      {% for comuna in context.comuna %}
                      <option value="{{ comuna.id }}">{{ comuna.name }}</option>
                      {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="compensation_box" class="form-label">Caja de Compensación 
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    <select class="form-select" name="compensation_box" id="compensation_box">
                      <option value=""> seleccionar...</option>
                      {% for box in context.compensation_box %}
                      <option value="{{ box.id }}">{{ box.name }}</option>
                      {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="mutual" class="form-label">Mutual 
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    <select class="form-select" name="mutual" id="mutual">
                      <option value=""> seleccionar...</option>
                      {% for mutual in context.mutual %}
                      <option value="{{ mutual.id }}">{{ mutual.name }}</option>
                      {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="mutual_amount" class="form-label">Monto cotización mutual
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    <input type="text" class="form-control" name="mutual_amount" id="mutual_amount" placeholder="" value="">
                    <div class="invalid-feedback">
                    </div>
                  </div>
                </div>

                

                <div class="row g-3">
                    <hr class="my-4">
                <h4 class="mb-3">Facturación <p class="lead text-muted"><small>Puede guardar sin tener todos los datos ingresados y continuar más tarde</small></p></h4>
                  <div class="col-md-6">
                    <label for="checking_bank" class="form-label">Banco pago nómina 
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    <select class="form-select" name="checking_bank" id="checking_bank">
                      <option value=""> seleccionar...</option>
                      {% for bank in context.bank %}
                      <option value="{{ bank.id }}">{{ bank.name }}</option>
                      {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="checking_account" class="form-label">Cuenta corriente pago nómina
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    <input type="text" class="form-control" name="checking_account" id="checking_account" placeholder="" value="">
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="billing_rut" class="form-label">RUT para facturación 
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    <input type="text" class="form-control" name="billing_rut" id="billing_rut" placeholder="" value="">
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-md-6 my-3">
                    <label for="gratification" class="form-label">Forma de pago de gratificación
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    {% for gratification in context.gratification %}
                    <div class="form-check">
                        <input name="gratification" value="{{ gratification.id }}" id="gratification_{{ gratification.id }}" name="gratification" type="radio" class="form-check-input">
                        <label class="form-check-label" for="gratification_{{ gratification.id }}">{{ gratification.name }}</label>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-md-6">
                    <label for="payment_mobilization" class="form-label">Forma de pago de movilización y colación 
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    <select class="form-select" name="payment_mobilization" id="payment_mobilization">
                      <option value=""> seleccionar...</option>
                      {% for payment_mobilization in context.payment_mobilization %}
                      <option value="{{ payment_mobilization.id }}">{{ payment_mobilization.name }}</option>
                      {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                    </div>
                  </div>
      
                <hr class="my-4">
                <div class="text-success respuesta">
                </div>
                <button class="w-100 btn btn-primary btn-lg" type="submit">Validar y guardar</button>

                <hr class="my-4">
              </form>
            </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-centro-costos" role="tabpanel" aria-labelledby="nav-centro-costos-tab">
        
        <div class="row g-12">
            <div class="py-2 text-center">
                <p class="lead text-muted"></p>
            </div>
            <div class="col-md-12 col-lg-12">
              <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Ingresados</span>
                <span id="company_len" class="badge bg-primary rounded-pill">{{ context.cost_center|length }}</span>
              </h4>
              <ul id="company_list" class="list-group mb-3">
                {% for co in context.cost_center %}
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <h6 class="my-0">{{ co.name }} - {{ co.code }} <span class="text-muted">({{ co.company }})</span></h6>
                      <small class="text-muted">{{ co.type.name }}</small>
                    </div>
                    <span class="text-muted"><a href="#"><i class="fas fa-edit"></i></a></span>
                  </li>
                {% endfor %}
              </ul>
            </div>
        
            <div class="py-5 text-center">
                <h2>Ingrese su Centro de Costo</h2>
                <p class="lead text-muted">Puede registrar más de uno si es necesario</p>
                <hr class="my-4">
            </div>
      
        
            <div class="col-md-12 col-lg-12">
              <h4 class="mb-3">Datos del Centro de Costo <p class="lead text-muted"><small><u>Puede guardar sin tener todos los datos ingresados y continuar más tarde</u></small></p></h4>
              
              <form class="needs-validation" novalidate id="cost_center"  data-url="/api/business/costcenter/">
                <div class="row g-3">
                  <div class="col-md-6">
                    <label for="company" class="form-label">Razón Social</label>
                    <select class="form-select" name="company" id="company" required>
                      <option value=""> seleccionar...</option>
                      {% for co in context.company %}
                      <option value="{{ co.id }}">{{ co.business_name }} ({{ co.business_rut }})</option>
                      {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="" value="" required>
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="code" class="form-label">Código 
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    <input type="text" class="form-control" name="code" id="code" placeholder="" value="">
                    <div class="invalid-feedback">
                    </div>
                  </div>
                 <div class="col-md-6">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="show_parent_cc" name="show_parent_cc">
                        <label class="form-check-label" for="show_parent_cc">Depende de otro Centro de Costo</label>
                      </div>
                    <div class="parent_cc">
                        <label for="parent" class="form-label">Centro de Costo Principal</label>
                        <select class="form-select" name="parent" id="parent">
                        <option value="0"> seleccionar...</option>
                        {% for co in context.cost_center %}
                        <option value="{{ co.id }}">{{ co.name }} ({{ co.code }} - {{co.company}}})</option>
                        {% endfor %}
                        </select>
                        <div class="invalid-feedback">
                        </div>
                    </div>
                  </div>
                  
                </div>

                
      
                <hr class="my-4">
                <div class="text-success respuesta">
                </div>
                <button class="w-100 btn btn-primary btn-lg" type="submit">Validar y guardar</button>

                <hr class="my-4">
              </form>
            </div>
            </div>
    </div>
    <div class="tab-pane fade" id="nav-sindicatos" role="tabpanel" aria-labelledby="nav-sindicatos-tab">
        <div class="row g-12">
            <div class="py-2 text-center">
                <p class="lead text-muted"></p>
            </div>
            <div class="col-md-12 col-lg-12">
              <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Ingresados</span>
                <span id="unions_len" class="badge bg-primary rounded-pill">{{ context.unions|length }}</span>
              </h4>
              <ul id="unions_list" class="list-group mb-3">
                {% for co in context.unions %}
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <h6 class="my-0">{{ co.name }} - {{ co.code }} <span class="text-muted">({{ co.rut }})</span></h6>
                      <small class="text-muted">{{ co.company }}</small>
                    </div>
                    <span class="text-muted"><a href="#"><i class="fas fa-edit"></i></a></span>
                  </li>
                {% endfor %}
              </ul>
            </div>
        
            <div class="py-5 text-center">
                <h2>Ingrese su Sindicato</h2>
                <p class="lead text-muted">Puede registrar más de uno si es necesario</p>
                <hr class="my-4">
            </div>
      
        
            <div class="col-md-12 col-lg-12">
              <h4 class="mb-3">Datos del Sindicato <p class="lead text-muted"><small><u>Puede guardar sin tener todos los datos ingresados y continuar más tarde</u></small></p></h4>
              
              <form class="needs-validation" novalidate id="cost_center"  data-url="/business/unions/">
                <div class="row g-3">
                  <div class="col-md-6">
                    <label for="company" class="form-label">Razón Social</label>
                    <select class="form-select" name="company" id="company" required>
                      <option value=""> seleccionar...</option>
                      {% for co in context.company %}
                      <option value="{{ co.id }}">{{ co.business_name }} ({{ co.business_rut }})</option>
                      {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="" value="" required>
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="code" class="form-label">Código 
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    <input type="text" class="form-control" name="code" id="code" placeholder="" value="">
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="rut" class="form-label">RUT 
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    <input type="text" class="form-control" name="rut" id="rut" placeholder="" value="">
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="rut" class="form-label">Estado 
                    <div class="form-check">
                        <input name="active" value="1" id="active_1" name="active" type="radio" class="form-check-input" checked required>
                        <label class="form-check-label" for="active_1">Vigente</label>
                    </div>
                    <div class="form-check">
                        <input name="active" value="0" id="active_0" name="active" type="radio" class="form-check-input" required>
                        <label class="form-check-label" for="active_0">No vigente</label>
                    </div>
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="exempt_amount" class="form-label">Monto Exento Finiquito 
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    <input type="text" class="form-control" name="exempt_amount" id="exempt_amount" placeholder="" value="">
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="exempt_amount_currency" class="form-label">Moneda de Monto Exento Finiquito 
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    <input type="text" class="form-control" name="exempt_amount_currency" id="exempt_amount_currency" placeholder="" value="">
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  
                </div>

                
      
                <hr class="my-4">
                <div class="text-success respuesta">
                </div>
                <button class="w-100 btn btn-primary btn-lg" type="submit">Validar y guardar</button>

                <hr class="my-4">
              </form>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-cuentas-contables" role="tabpanel" aria-labelledby="nav-cuentas-contables-tab">
        <div class="row g-12">
            <div class="py-2 text-center">
                <p class="lead text-muted"></p>
            </div>
            <div class="col-md-12 col-lg-12">
              <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Ingresadas</span>
                <span id="accounting_account_len" class="badge bg-primary rounded-pill">{{ context.accounting_account|length }}</span>
              </h4>
              <ul id="accounting_account_list" class="list-group mb-3">
                {% for co in context.accounting_account %}
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <h6 class="my-0">{{ co.name }} - {{ co.code }}</h6>
                      <small class="text-muted">{{ co.company }}</small>
                    </div>
                    <span class="text-muted"><a href="#"><i class="fas fa-edit"></i></a></span>
                  </li>
                {% endfor %}
              </ul>
            </div>
        
            <div class="py-5 text-center">
                <h2>Ingrese sus Cuentas Contables</h2>
                <p class="lead text-muted">Registre todas las necesarias</p>
                <hr class="my-4">
            </div>
      
        
            <div class="col-md-12 col-lg-12">
              <h4 class="mb-3">Datos de Cuenta Contable <p class="lead text-muted"><small><u>Puede guardar sin tener todos los datos ingresados y continuar más tarde</u></small></p></h4>
              
              <form class="needs-validation" novalidate id="cost_center"  data-url="/api/business/accounting_account/">
                <div class="row g-3">
                  <div class="col-md-6">
                    <label for="company" class="form-label">Razón Social</label>
                    <select class="form-select" name="company" id="company" required>
                      <option value=""> seleccionar...</option>
                      {% for co in context.company %}
                      <option value="{{ co.id }}">{{ co.business_name }} ({{ co.business_rut }})</option>
                      {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="" value="" required>
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="code" class="form-label">Código 
                        <span class="text-muted"><small>(Opcional)</small></span></label>
                    <input type="text" class="form-control" name="code" id="code" placeholder="" value="">
                    <div class="invalid-feedback">
                    </div>
                  </div>                  
                </div>

                
      
                <hr class="my-4">
                <div class="text-success respuesta">
                </div>
                <button class="w-100 btn btn-primary btn-lg" type="submit">Validar y guardar</button>

                <hr class="my-4">
              </form>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-sucursal" role="tabpanel" aria-labelledby="nav-sucursal-tab">...</div>
  </div>
</main>
{% endblock %}